<div class="content">
    <h1><u>Clases Grabadas</u></h1>

    <p>
        Accede desde la comodidad de casa a las clases de <b>ASR</b>, <b>AC</b>, <b>MSN</b> y <b>PSM</b>.
        Los videos se encuentran subidos a listas de reproducción en YT, para que puedas estudiar cuando quieras, donde
        quieras.
    </p>

    <p>Consulta los packs disponibles</p>

    <div class="pack-cards">
        <mat-card>
            <mat-card-content>
                <h3><u>Pack Mono</u></h3>
                <h4>1 asignatura</h4>
                <p>20€</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h3><u>Pack Duo</u></h3>
                <h4>2 asignaturas</h4>
                <p>35€</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h3><u>Pack Trio</u></h3>
                <h4>3 asignaturas</h4>
                <p>50€</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h3><u>Pack Tetra</u></h3>
                <h4>4 asignaturas</h4>
                <p>60€</p>
            </mat-card-content>
        </mat-card>
    </div>

    <h2><u>Como acceder a las clases</u></h2>

    <ol>
        <li>Decide el pack de clases que necesites.</li>
        <li>Realiza el pago mediante alguno de los métodos disponibles.</li>
        <ul>
            <li>Mediante <a href="https://paypal.me/Misco47?country.x=ES&locale.x=es_ES">Paypal</a>, deposita la
                cantidad correspondiente al pack, y en el campo de texto, incluye el <b>nombre del pack</b>, las
                <b>asignaturas</b> que quieres y el <b>correo GMAIL</b> donde ver las clases.</li>
            <li>Localiza a Misco en tu grupo de clase (Busca por el nombre Misco, lo encontrarás), escríbele un mensaje
                donde incluyas el <b>nombre del pack</b>, las <b>asignaturas</b> que quieres, el <b>correo GMAIL</b>
                donde ver las clases, y realiza un <u>Bizzum</u> a ese número.</li>
        </ul>
        <li>Recibirás en ese correo proporcionado un mensaje con los enlaces a las listas de reproducción de las clases
            que hayas pedido.</li>
    </ol>
</div>