:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  a{
    font-size: 17px;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #paypal-logo:hover{
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 85%;
    flex-direction: column;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    /*Angular Material CSS Modifications*/
    .mat-expansion-panel-header{
      height: fit-content;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .acronym{
      padding-left: 20%;
    }

    .courses{
      padding-right: 11%;
    }

    .content {
      display: flex;
      max-width: 100% !important;
      flex-direction: column;
      align-items: center;
    }
  }

  /*Angular Material CSS Modifications*/
  .mat-tab-group{
    width: 100%;
  }

  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-basis: 50%;
    min-width: 0;
    /*display: block;*/
  }

  