<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="home"
    width="40"
    alt="Misco"
    src="https://www.wuolah.com/imagenes/perfil/505429/avatar-big.jpg"
    routerLink=""
  />
  <h1 class="home" routerLink="">Misco Jones</h1>
  <div class="spacer"></div>
      <a aria-label="Paypal" target="_blank" rel="noopener" href="https://paypal.me/Misco47?country.x=ES&locale.x=es_ES" title="Echate algo">
        <img id="paypal-logo" src="https://wuolah-web.s3-eu-west-1.amazonaws.com/static/media/assets/profile/product_1.svg" alt="Paypal Logo" width="60" height="60"> 
      </a>
</div>

<router-outlet></router-outlet>
