<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Misco"
    src="https://www.wuolah.com/imagenes/perfil/505429/avatar-big.jpg"
  />
  <h1>Misco Jones</h1>
  <div class="spacer"></div>
      <a aria-label="Paypal" target="_blank" rel="noopener" href="https://paypal.me/Misco47?country.x=ES&locale.x=es_ES" title="Echate algo">
        <img id="paypal-logo" src="https://wuolah-web.s3-eu-west-1.amazonaws.com/static/media/assets/profile/product_1.svg" alt="Girl in a jacket" width="60" height="600"> 
      </a>
</div>

<div class="content" role="main">

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="1º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Administración de Empresas
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AE
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2953205-f" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://www.wuolah.com/share/2953147-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/4498812-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Álgebra Lineal y Numérica
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ALN
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1704819-f" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://www.wuolah.com/share/2953147-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1771848-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/3919953-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/4306743-f" target="_blank">💯 Examen 2019</a>
            <br>
            <a href="https://www.wuolah.com/share/4306754-f" target="_blank">💯 Exámenes 2020</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cálculo Infinitesimal y Numérico
            </mat-panel-title>
            <mat-panel-description class="acronym">
              CIN
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1771796-f" target="_blank">🤓 Teoría</a>
            <br>
            <a href="https://www.wuolah.com/share/1765977-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1912068-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/4306807-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Circuitos Electrónicos Digitales
            </mat-panel-title>
            <mat-panel-description class="acronym">
              CED
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1981493-f" target="_blank">🤓 Teoría Parcial 2 Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/1765977-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1860211-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/1981486-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1981496-f" target="_blank">⌚ Ejercicio Diseño de un reloj</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Estadística
            </mat-panel-title>
            <mat-panel-description class="acronym">
              E
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1980820-f" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://www.wuolah.com/share/1772267-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/4284773-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/4284753-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1704790-f" target="_blank">💻 Código Examen R</a>       
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Estructura de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              EDC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1978623-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/2508950-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/2581014-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fundamentos de Programación
            </mat-panel-title>
            <mat-panel-description class="acronym">
              FP
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1931537-f" target="_blank">💻 Proyectos Python Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1980906-f" target="_blank">💯 Guía Examen Práctico Python</a>
            <br>
            <a href="https://www.wuolah.com/share/1980872-f" target="_blank">💻 Proyectos Python Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1980907-f" target="_blank">💯 Guía Examen Práctico Java</a>
            <br>
            <a href="https://www.wuolah.com/share/3758614-f" target="_blank">💯 Convocatoria Diciembre 2020</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fundamentos Físicos de la Informática
            </mat-panel-title>
            <mat-panel-description class="acronym">
              FFI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>    
            <a href="https://www.wuolah.com/share/2030132-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/1977903-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/3562642-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Matemática Discreta
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IMD
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/1354143-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/3718582-f" target="_blank">💯 Examen 2021</a>
        </mat-expansion-panel>
    
      </mat-accordion>
    </mat-tab>

    <mat-tab label="2º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Análisis y Diseño de Datos y Algoritmos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ADDA
            </mat-panel-description>
            <mat-panel-description  class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2464387-f" target="_blank">🤓 Apuntes Calcular Complejidad</a>
            <br>
            <a href="https://www.wuolah.com/share/3074214-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/4357061-f" target="_blank">💯 Exámenes Resueltos</a> 
          </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI - Computadores
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2672666-f" target="_blank">🤓 Hoja Ayuda Pseudo-Instrucciones</a>
            <br>
            <a href="https://www.wuolah.com/share/2635838-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/5351066-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/2651238-f" target="_blank">💯 Exámenes Prácticos Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura e Integración de Sistemas Software
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AISS
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2639345-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/2600759-f" target="_blank">🛠️ Prácticas Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Ingeniería del Software y los Sistemas de Información I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IISSI 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2231281-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/4057383-f" target="_blank">💻 Documentación Proyecto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/2595980-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/1937992-f" target="_blank">💯 Examen Modelado Relacional Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/2069786-f" target="_blank">💯 Examen Modelado Relacional Resuelto 2019/2020</a>
            <br>
            <a href="https://www.wuolah.com/share/2238127-f" target="_blank">💯 Examen Teoría Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/3718631-f" target="_blank">💯 Examen Práctico Resuelto</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Ingeniería del Software y los Sistemas de Información II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IISSI 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/4057393-f" target="_blank">💻 Documentación Proyecto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/2595983-f" target="_blank">🛠️ Prácticas Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Lógica Informática
            </mat-panel-title>
            <mat-panel-description  class="acronym">
              LI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/3424776-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/3673201-f" target="_blank">📝 Actividades Tema 7 Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/3414032-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Matemática Discreta
            </mat-panel-title>
            <mat-panel-description class="acronym">
              MD
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI - Computadores
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2611232-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/2968298-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Redes de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              RC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2205732-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/3567405-f" target="_blank">🛠️ Prácticas Resueltas - Estudio Teórico</a>
            <br>
            <a href="https://www.wuolah.com/share/3567414-f" target="_blank">🛠️ Prácticas Resueltas - Estudio Experimental</a>
            <br>
            <a href="https://www.wuolah.com/share/3516526-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/3517080-f" target="_blank">💯 Problemas de Examen Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sistemas Operativos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              SO
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/2027808-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/2097747-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/2092965-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-tab>

    <mat-tab label="3º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura y Servicios de Redes
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ASR
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/apuntes/5508369-f" target="_blank">💯 Exámenes Prácticos Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/3908726-f" target="_blank">🛠️ Prácticas Resueltas - Estudio Teórico</a>
            <br>
            <a href="https://www.wuolah.com/share/3909948-f" target="_blank">🛠️ Prácticas Resueltas - Estudio Experimental</a>
            <br>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diseño y Pruebas I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              DP 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/3923027-f" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/3682133-f" target="_blank">💯 Examen Test Resuelto</a>     
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diseño y Pruebas II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              DP 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/4368623-f" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/4368634-f" target="_blank">💯 Control Check Junio 2021 Resuelto</a>    
            <br>
            <a href="https://www.wuolah.com/share/4576145-f" target="_blank">💯 Control Check Septiembre 2021 Resuelto</a>   
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ingeniería de Requisitos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IR
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/3807806-f" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/3807781-f" target="_blank">💯 Examen Test 2021 Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/3629846-f" target="_blank">💯 57 Preguntas de Examen Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Inteligencia Artificial
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IA
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI - Computadores
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a href="https://www.wuolah.com/share/4112113-f" target="_blank">🤓 Plantilla Tablas Lenguaje Natural</a>
            <br>
            <a href="https://www.wuolah.com/apuntes/3902509-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/4354834-f" target="_blank">💻 Proyecto Redes Neuronales Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/share/4525618-f" target="_blank">💻 Proyecto Aprendizaje Automático Resuelto Resuelto</a>
            <br>
            <a href="https://www.wuolah.com/apuntes/4119192-f" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/3629846-f" target="_blank">💯 57 Preguntas de Examen Resueltas</a>         
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Modelado y Visualización Gráfica
            </mat-panel-title>
            <mat-panel-description class="acronym">
              MVG
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/5112799-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/5112793-f" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Proceso Software y Gestión I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PSG 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/3296105-f" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://www.wuolah.com/share/3345219-f" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/share/3671357-f" target="_blank">🛠️ Prácticas Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Proceso Software y Gestión II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PSG 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/4282362-f" target="_blank">💻 Proyecto - Sprint 2</a>
            <br>
            <a href="https://www.wuolah.com/share/4282369-f" target="_blank">💻 Proyecto - Sprint 3</a>
            <br>
            <a href="https://www.wuolah.com/share/4282381-f" target="_blank">💻 Proyecto - Sprint 4</a>
            <br>
            <a href="https://www.wuolah.com/share/4282384-f" target="_blank">💻 Proyecto - Sprint 5</a>
            <br>
            <a href="https://www.wuolah.com/share/4197942-f" target="_blank">💯 Exámenes Resueltos</a>      
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>

    <mat-tab label="4º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Acceso Inteligente a la Información
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AII
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/5086834-f" target="_blank">🤓 Teoría Resumida en Español</a>
            <br>
            <a href="https://www.wuolah.com/share/4849493-f" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/4849480-f" target="_blank">💯 Exámenes Resueltos</a>  
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Planificación y Gestión de Proyectos Informáticos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PGPI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/5192388-f" target="_blank">💻 Proyecto Resuelto - TODAS las Entregas</a>
            <br>
            <a href="https://www.wuolah.com/share/5192375-f" target="_blank">💯 100 Preguntas de Examen Resueltas</a>
            <br>
            <a href="https://www.wuolah.com/share/5508332-f" target="_blank">💯 Examen 2021/2022 Resuelto</a>  
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tecnología, Informática y Sociedad
            </mat-panel-title>
            <mat-panel-description class="acronym">
              TIS
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://www.wuolah.com/share/5192395-f" target="_blank">🎞️ Presentación</a>
            <br>
            <a href="https://www.wuolah.com/share/5097455-f" target="_blank">📔 Examen Libro Homo Deus Resuelto</a>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
