<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Misco"
    src="https://www.wuolah.com/imagenes/perfil/505429/avatar-big.jpg"
  />
  <h1>Misco Jones</h1>
  <div class="spacer"></div>
      <a aria-label="Paypal" target="_blank" rel="noopener" href="https://paypal.me/Misco47?country.x=ES&locale.x=es_ES" title="Echate algo">
        <img id="paypal-logo" src="https://wuolah-web.s3-eu-west-1.amazonaws.com/static/media/assets/profile/product_1.svg" alt="Paypal Logo" width="60" height="60"> 
      </a>
</div>

<div class="content" role="main">

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="1º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Administración de Empresas
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AE
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/administracion-de-empresas/2953174" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://wuolah.com/apuntes/administracion-de-empresas/2953147" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/administracion-de-empresas/4498813" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Álgebra Lineal y Numérica
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ALN
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/algebra-lineal-y-numerica/1704819" target="_blank">📏 Formulario</a>
            <br>
            <a href="https://wuolah.com/apuntes/algebra-lineal-y-numerica/1771848" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/algebra-lineal-y-numerica/3919953" target="_blank">💯 Ejercicios de Examen Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/algebra-lineal-y-numerica/4306756" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cálculo Infinitesimal y Numérico
            </mat-panel-title>
            <mat-panel-description class="acronym">
              CIN
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/1771796" target="_blank">📏 Formulario</a>
            <br>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/1765977" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/1912068" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/1772288" target="_blank">💯 Convo Febrero 2019 Resuelta</a>
            <br>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/2010425" target="_blank">💯 Convo Septiembre 2019</a>
            <br>
            <a href="https://wuolah.com/apuntes/calculo-infinitesimal-y-numerico/3718611" target="_blank">💯 Examen 2021</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Circuitos Electrónicos Digitales
            </mat-panel-title>
            <mat-panel-description class="acronym">
              CED
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/circuitos-electronicos-digitales-3/1981493" target="_blank">🤓 Teoría Parcial 2 Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/circuitos-electronicos-digitales-3/1860211" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/circuitos-electronicos-digitales-3/3515997" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/circuitos-electronicos-digitales-3/1981496" target="_blank">⌚ Ejercicio Diseño de un reloj</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Estadística
            </mat-panel-title>
            <mat-panel-description class="acronym">
              E
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/estadistica/1980820" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://wuolah.com/apuntes/estadistica/1772267" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/estadistica/4284774" target="_blank">💻 Código Examen R</a>
            <br>
            <a href="https://wuolah.com/apuntes/estadistica/4284754" target="_blank">💯 Exámenes Resueltos</a>   
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Estructura de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              EDC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/estructura-de-computadores-2/1978623" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/estructura-de-computadores-2/2508950" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/estructura-de-computadores-2/4306727" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fundamentos de Programación
            </mat-panel-title>
            <mat-panel-description class="acronym">
              FP
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/1931537" target="_blank">💻 Proyectos Python Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/9674313" target="_blank">💯 Exámenes Python Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/1980906" target="_blank">💯 Guía Examen Práctico Python</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/2719016" target="_blank">💻 Proyectos Java Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/1980907" target="_blank">💯 Guía Examen Práctico Java</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/3758614" target="_blank">💯 Convocatoria Diciembre 2020</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-de-programacion/1383851" target="_blank">🤓 Teoría Cuestionarios Resumida</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fundamentos Físicos de la Informática
            </mat-panel-title>
            <mat-panel-description class="acronym">
              FFI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI - Salud
            </mat-panel-description>
          </mat-expansion-panel-header>    
            <a href="https://wuolah.com/apuntes/fundamentos-fisicos-de-la-informatica/2030132" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-fisicos-de-la-informatica/1977903" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/fundamentos-fisicos-de-la-informatica/3758637" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Matemática Discreta
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IMD
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-matematica-discreta/1354143" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-matematica-discreta/3718582" target="_blank">💯 Examen 2021</a>
        </mat-expansion-panel>
    
      </mat-accordion>
    </mat-tab>

    <mat-tab label="2º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Análisis y Diseño de Datos y Algoritmos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ADDA
            </mat-panel-description>
            <mat-panel-description  class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/analisis-y-diseno-de-datos-y-algoritmos/2464387" target="_blank">🤓 Apuntes Calcular Complejidad</a>
            <br>
            <a href="https://wuolah.com/apuntes/analisis-y-diseno-de-datos-y-algoritmos/3074205" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/analisis-y-diseno-de-datos-y-algoritmos/4357067" target="_blank">💯 Exámenes Resueltos</a> 
          </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/9597073" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-de-computadores/2635838" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-de-computadores/ADD" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-de-computadores/9840344" target="_blank">🛠️ Prácticas Resueltas 2024</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-de-computadores/5351066" target="_blank">🛠️ Prácticas Resueltas 2021</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-de-computadores/2684703" target="_blank">💯 Exámenes Prácticos Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura e Integración de Sistemas Software
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AISS
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/arquitectura-e-integracion-de-sistemas-software/2639345" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-e-integracion-de-sistemas-software/2600759" target="_blank">🛠️ Prácticas Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Ingeniería del Software y los Sistemas de Información I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IISSI 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/2231281" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/4057383" target="_blank">💻 Documentación Proyecto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/1937992" target="_blank">💯 Examen Modelado Relacional Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/2069786" target="_blank">💯 Examen Modelado Relacional Resuelto 2019/2020</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/2238127" target="_blank">💯 Examen Teoría Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/3718631" target="_blank">💯 Examen Práctico Resuelto</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Introducción a la Ingeniería del Software y los Sistemas de Información II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IISSI 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/4057393" target="_blank">💻 Documentación Proyecto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/introduccion-a-la-ingenieria-del-software-y-los-sistemas-de-informacion/2595981" target="_blank">🛠️ Prácticas Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Lógica Informática
            </mat-panel-title>
            <mat-panel-description  class="acronym">
              LI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/logica-informatica-2/3424776" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/logica-informatica-2/3673201" target="_blank">📝 Ejercicios Tema 7 Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/logica-informatica-2/3414033" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Matemática Discreta
            </mat-panel-title>
            <mat-panel-description class="acronym">
              MD
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/matematica-discreta/2611232" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/logica-informatica-2/9674424" target="_blank">📝 Ejercicios Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/logica-informatica-2/9674418" target="_blank">📝 Actividades Evaluadas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/matematica-discreta/4086922" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Redes de Computadores
            </mat-panel-title>
            <mat-panel-description class="acronym">
              RC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/redes-de-computadores/2205732" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/redes-de-computadores/3567405" target="_blank">🛠️ Prácticas Resueltas - Estudio Teórico</a>
            <br>
            <a href="https://wuolah.com/apuntes/redes-de-computadores/3567414" target="_blank">🛠️ Prácticas Resueltas - Estudio Experimental</a>
            <br>
            <a href="https://wuolah.com/apuntes/redes-de-computadores/3516526" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/redes-de-computadores/3517080" target="_blank">💯 Ejercicios de Examen Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sistemas Operativos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              SO
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/sistemas-operativos/2027808" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/sistemas-operativos/2115669" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/sistemas-operativos/3626130" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-tab>

    <mat-tab label="3º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prácticas de Empresa
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PE
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/practicas-externas/5994439" target="_blank">🤑 Guía Conseguir Prácticas Empresa</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arquitectura y Servicios de Redes
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ASR
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/ADD" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/ADD" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/ADD" target="_blank">💯 Ejercicios de Examen Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/ADD" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/ADD" target="_blank">🛠️ Prácticas Resueltas 2024 - Estudio Teórico</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/ADD" target="_blank">🛠️ Prácticas Resueltas 2024 - Estudio Experimental</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/3908726" target="_blank">🛠️ Prácticas Resueltas 2021 - Estudio Teórico</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/3909948" target="_blank">🛠️ Prácticas Resueltas 2021 - Estudio Experimental</a>
            <br>
            <a href="https://wuolah.com/apuntes/arquitectura-y-servicios-de-redes/5508369" target="_blank">💯 Exámenes Prácticos Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diseño y Pruebas I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              DP 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/diseno-y-pruebas-i/5987673" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/diseno-y-pruebas-i/5987711" target="_blank">💯 Examen Test Resuelto</a>     
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diseño y Pruebas II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              DP 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/diseno-y-pruebas-ii/5987909" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/diseno-y-pruebas-ii/5988056" target="_blank">💯 Control Check Junio 2021 Resuelto</a>    
            <br>
            <a href="https://wuolah.com/apuntes/diseno-y-pruebas-ii/5988007" target="_blank">💯 Control Check Septiembre 2021 Resuelto</a>   
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ingeniería de Requisitos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IR
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/ingenieria-de-requisitos/3807806" target="_blank">💻 Proyecto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/ingenieria-de-requisitos/3807781" target="_blank">💯 Examen Test 2021 Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/ingenieria-de-requisitos/3629846" target="_blank">💯 57 Preguntas de Examen Resueltas</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Inteligencia Artificial
            </mat-panel-title>
            <mat-panel-description class="acronym">
              IA
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/3907932" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/4112297" target="_blank">🤓 Plantilla Tablas Lenguaje Natural</a>
            <br>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/3902509" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/4354832" target="_blank">💻 Proyecto Redes Neuronales Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/4525668" target="_blank">💻 Proyecto Aprendizaje Automático Resuelto Resuelto</a>
            <br>
            <a href="https://wuolah.com/apuntes/inteligencia-artificial/4119192" target="_blank">💯 Exámenes Resueltos</a>       
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Modelado y Simulación Numérica
            </mat-panel-title>
            <mat-panel-description class="acronym">
              MSN
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a href="https://www.wuolah.com/apuntes/modelado-y-simulacion-numerica/9213920" target="_blank">📏 Formularios</a>
            <br>
            <a href="https://www.wuolah.com/apuntes/modelado-y-simulacion-numerica/9213989" target="_blank">💯 Exámenes Resueltos</a>
            <br>
            <a href="https://www.wuolah.com/apuntes/modelado-y-simulacion-numerica/9214222" target="_blank">📝 Boletines Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Modelado y Visualización Gráfica
            </mat-panel-title>
            <mat-panel-description class="acronym">
              MVG
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/modelado-y-visualizacion-grafica/5112797" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/modelado-y-visualizacion-grafica/5112792" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Proceso Software y Gestión I
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PSG 1
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/3296105" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/3345219" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion-i/5988198" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/3471773" target="_blank">💯 Exámenes Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Proceso Software y Gestión II
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PSG 2
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion-ii/5988377" target="_blank">💻 Proyecto - Sprint 2</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion-ii/5988425" target="_blank">💻 Proyecto - Sprint 3</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/4282381" target="_blank">💻 Proyecto - Sprint 4</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion/4282384" target="_blank">💻 Proyecto - Sprint 5</a>
            <br>
            <a href="https://wuolah.com/apuntes/proceso-software-y-gestion-ii/5988336" target="_blank">💯 Exámenes Resueltos</a>      
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Procesamiento de Señales Multimedia
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PSM
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="ADD" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="ADD" target="_blank">📝 Boletines Resueltos</a>
            <br>
            <a href="ADD" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="ADD" target="_blank">💯 Exámenes Resueltos</a>      
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>

    <mat-tab label="4º">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prácticas de Empresa
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PE
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/practicas-externas/5994439" target="_blank">🤑 Guía Conseguir Prácticas Empresa</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Acceso Inteligente a la Información
            </mat-panel-title>
            <mat-panel-description class="acronym">
              AII
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/acceso-inteligente-a-la-informacion/5086834" target="_blank">🤓 Teoría Resumida en Español</a>
            <br>
            <a href="https://wuolah.com/apuntes/acceso-inteligente-a-la-informacion/4849493" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/acceso-inteligente-a-la-informacion/7122516" target="_blank">💯 Exámenes Resueltos</a>
            <br>  
            <a href="https://wuolah.com/apuntes/complementos-de-bases-de-datos/7195276" target="_blank">💻 Proyecto Resuelto</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Complemento de Base de Datos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              CBD
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/complementos-de-bases-de-datos/7195276" target="_blank">💻 Proyecto Resuelto (Reutilizado de AII)</a>
            <br>
            <a href="https://wuolah.com/apuntes/complementos-de-bases-de-datos/5439618" target="_blank">💯 Exámenes Teoría Resueltos</a>
            <br>
            <a href="https://wuolah.com/apuntes/complementos-de-bases-de-datos/5352927" target="_blank">💯 Exámenes Prácticos Resueltos</a>  
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Evolución y Gestión de la Configuración
            </mat-panel-title>
            <mat-panel-description class="acronym">
              EGC
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/evolucion-y-gestion-de-la-configuracion/9437718" target="_blank">🤓 Teoría Resumida</a>
            <br>
            <a href="https://wuolah.com/apuntes/evolucion-y-gestion-de-la-configuracion/9420544" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/evolucion-y-gestion-de-la-configuracion/9493822" target="_blank">💯 Exámenes Teoría Resueltos</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ingeniería del Software y Práctica Profesional
            </mat-panel-title>
            <mat-panel-description class="acronym">
              ISPP
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/ingenieria-del-software-y-practica-profesional/5920621" target="_blank">💻 Presentaciones Proyecto</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Planificación y Gestión de Proyectos Informáticos
            </mat-panel-title>
            <mat-panel-description class="acronym">
              PGPI
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/planificacion-y-gestion-de-proyectos-informaticos/5192388" target="_blank">💻 Proyecto Resuelto - TODAS las Entregas</a>
            <br>
            <a href="https://wuolah.com/apuntes/planificacion-y-gestion-de-proyectos-informaticos/7122432" target="_blank">💯 100 Preguntas de Examen Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/planificacion-y-gestion-de-proyectos-informaticos/7122433" target="_blank">💯 Examen 2021/2022 Resuelto</a>  
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tecnología, Informática y Sociedad
            </mat-panel-title>
            <mat-panel-description class="acronym">
              TIS
            </mat-panel-description>
            <mat-panel-description class="courses">
              Software - Computadores - TI
            </mat-panel-description>
          </mat-expansion-panel-header>
            <a href="https://wuolah.com/apuntes/tecnologia-informatica-y-sociedad/5192400" target="_blank">🛠️ Prácticas Resueltas</a>
            <br>
            <a href="https://wuolah.com/apuntes/tecnologia-informatica-y-sociedad/5192394" target="_blank">🎞️ Presentación</a>
            <br>
            <a href="https://wuolah.com/apuntes/tecnologia-informatica-y-sociedad/7122465" target="_blank">📔 Examen Libro Homo Deus Resuelto</a>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
